.card{
    
    border: 0px;
    margin: 1.5rem;
    height: 200px;
}

.card-title{
    text-align: center;
    background-color: grey;
    width: 15rem;
    padding: 10px;
    margin: 0%;
}

.card-body{
    text-align: center;
    padding: 0;
    font-size: 18px;
    background-color: lightblue;
    
}

.card-text{
    background-color: grey;
}

.row{
    justify-content: center;
    margin: 0;

}

.list-group-item{
    height: 67px;
    background-color: transparent;
}

.teamprofile{
    height: 125px;
    background-color: lightblue;
    padding: 30px;
    margin-bottom: 50px;
}

.title{
    font-size: 48px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}